rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.email == "lt2jatinagara@gmail.com" && request.auth.token.email_verified == true;
    }

    match /settings/site {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
